#btnAgregar{
    background-color: #553DFB;
    color: white;
}

#contenedor{
    margin-top:30px;
}

#container {
    width: 97%;
    background-color: #ffffff;
    border-radius: 1rem !important;
}

#barra{
    border-radius: 5px;
}

#titulo{
    background-color: #37CFD2;
    color:white;
    text-align: center;
}

table{
    text-align:center;
}

.rounded-item{
    border-radius: 1rem !important;
}

#btnModificar{
    color: white;
    /* margin-left: 30%; */
}

#switch{
    margin-left:3px;
}

#fotoMat{
    margin-top: 5px;
}
