.background{
  background-color: #F8F8FA;
}
.card-header{
    background-color: white;
}
.card-footer{
    background-color: white;
    height: 80px;
    background-image: url("../../res/footer.svg")  ;
    background-position: left;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    
}
.text-card{
  color: #553DFB;
  font-weight: 600;
  text-transform: uppercase;
  
}
.rounded-item{
  border-radius: 1rem !important;
}
.rounded-header{
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
}



