.border-remove {
    border-bottom: hidden;
    height: 3rem;
    max-width: 100%;
}

.table_chiquita {
    max-height: 450px;
}

@media screen and (max-width: 1300px) {
    table {
        border-top: hidden;
        width: 100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #37cfd2;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
    }
    tbody td {
        display: block;
        text-align: center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
}