#divFoto {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  /* overflow: scroll; */
  height: 250px;
}

#divFoto >img{
    width: 100%;
    height: 100%;
}

#labels > h6{
    text-align: center;
}
